@model infoClientes.Models.Ciudad

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro de eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.nomDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.nomDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomCiudad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
